{% extends "base.html" %}

{% block title %}Web Demo site{% endblock %}

{% block page_content %}
<table>                              
<tr>                                 
  <td><a href="/product/1/{{ id }}" target="_blank"><img src="/static/1.jpg"></a></td> 
  <td><a href="/product/2/{{ id }}" target="_blank"><img src="/static/2.jpg"></a></td> 
  <td><a href="/product/3/{{ id }}" target="_blank"><img src="/static/3.jpg"></a></td> 
  <td><a href="/product/4/{{ id }}" target="_blank"><img src="/static/4.jpg"></a></td> 
  <td><a href="/product/5/{{ id }}" target="_blank"><img src="/static/5.jpg"></a></td> 
</tr><tr>                            
  <td><a href="/product/6/{{ id }}" target="_blank"><img src="/static/6.jpg"></a></td> 
  <td><a href="/product/7/{{ id }}" target="_blank"><img src="/static/7.jpg"></a></td> 
  <td><a href="/product/8/{{ id }}" target="_blank"><img src="/static/8.jpg"></a></td> 
  <td><a href="/product/9/{{ id }}" target="_blank"><img src="/static/9.jpg"></a></td> 
  <td><a href="/product/10/{{ id }}" target="_blank"><img src="/static/10.jpg"></a></td>
<!--</tr><tr>                            -->
  <!--<td><a href="/product/11/{{ id }}" target="_blank"><img src="/static/11.jpg"></a></td>-->
  <!--<td><a href="/product/12/{{ id }}" target="_blank"><img src="/static/12.jpg"></a></td>-->
  <!--<td><a href="/product/13/{{ id }}" target="_blank"><img src="/static/13.jpg"></a></td>-->
  <!--<td><a href="/product/14/{{ id }}" target="_blank"><img src="/static/14.jpg"></a></td>-->
  <!--<td><a href="/product/15/{{ id }}" target="_blank"><img src="/static/15.jpg"></a></td>-->
<!--</tr><tr>                            -->
  <!--<td><a href="/product/16/{{ id }}" target="_blank"><img src="/static/16.jpg"></a></td>-->
  <!--<td><a href="/product/17/{{ id }}" target="_blank"><img src="/static/17.jpg"></a></td>-->
  <!--<td><a href="/product/18/{{ id }}" target="_blank"><img src="/static/18.jpg"></a></td>-->
  <!--<td><a href="/product/19/{{ id }}" target="_blank"><img src="/static/19.jpg"></a></td>-->
  <!--<td><a href="/product/20/{{ id }}" target="_blank"><img src="/static/20.jpg"></a></td>-->
<!--</tr>                                -->
</table>                             
{% endblock %}
