{% extends "base.html"  %}

{% block title %}User{% endblock %}

{% block page_content %}

{% if result %}

  <table border=1>
    {% for row in result %}
      <tr>
        <th>Recommendation</th>
        <th>Score</th>
      </tr>
      <tr>               
        <td>
           <img src="/static/{{ row[0] }}.jpg" class="container" alt="{{ row[0] }}.png" style="width:100%;height:100%;">
        </td>
        <td>
           {{ row[1] }}
        </td>
      </tr>
    {% endfor %}
  </table>

{% else  %}

  <h1> Nothing to recommend </h1>

{% endif %}

{% endblock %}
